@charset "utf-8";


body{
  margin: 0;
  padding: 0;
}

h1{
  font-family: "adorn-copperplate", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#splash {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:url(../svg/loadingbg.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}





header{
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  display: flex;
  margin: 0;
  padding: 1.5rem;
  z-index: 99;
  justify-content: space-between;
}
.nav{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav a{
  text-decoration: none;
  font-family: "adorn-copperplate", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15pt;
  color: #000000;
}

.nav :hover{
  color: #FF9700;
}

nav ul li.current a,
nav ul li a:hover{
  color: #FF9700;
}


#works{
  position: relative;
  top: 0;
  padding: 0 10%;
  margin: 0;
  background-color: #fff;
  z-index: 3;
}

#works h1{
  position: relative;
  top: 50px;
  margin: 5rem 1rem;
  padding: 0;
  text-align: center;
  font-size: 45pt;
}

.sort-btn{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:50px 20px;
  list-style-type: none;
  font-family: kepler-std-caption, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21pt;
}


.sort-btn li a{
  cursor: pointer;
  padding: 10px;
  margin:0 10px;
  text-decoration: none;
}



.sort-btn li a{
position: relative;
}


.sort-btn li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 48%;
  background:#0481A2;
  transition: all .3s;
  transform: scale(0.04, 1);
  transform-origin:center bottom;
}


.sort-btn li.active a::after,
.sort-btn li a:hover::after{
  height: 2px;
  border-radius: 0; 
  transform: scale(0.8, 1);
}


.grid {
  position: relative;/*並び替えの基準点を指定*/
}


.item {
  display: block;
  position: absolute;
  width: 33%;
  padding: 40px;
  z-index: 1;
  list-style:none;
}


.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}


.grid img{
	width:100%;
	height:auto;
	vertical-align: bottom;
  	transition: .3s;
	opacity: 0.5;
}

.grid a :hover{
  	transform: scale(1.05);
	opacity: 1;
}


#skill{
  position: relative;
  background-color: #ffffff;
  margin: 4rem;
  padding-bottom: 2rem;
}


  #skill h1{
    font-size: 45pt;
    margin: 1rem;
    text-align: center;
  }

.tool{
  position: relative;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin: 0 15rem;
  font-size: 28pt;
  font-family: "Hiragino Sans W8";
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
  letter-spacing: 0.1em;
}

  .tool li{
    display: flex;
  }

    
  .s1 { grid-area: 1 / 1 / 2 / 2; }
  .s2 { grid-area: 1 / 2 / 2 / 3; }
  .s3 { grid-area: 2 / 1 / 3 / 2; }
  .s4 { grid-area: 2 / 2 / 3 / 3; }
  .s5 { grid-area: 3 / 1 / 4 / 2; }
  .s6 { grid-area: 3 / 2 / 4 / 3; }
  .s7 { grid-area: 4 / 1 / 5 / 3; }


  #Ai{
    color: #FF9700;
    padding-right: 1rem;
  }
  #Ps{
    color: #32A5FF;
    padding-right: 1rem;
  }
  #Xd{
    color: #FF61F7;
    padding-right: 1rem;
  }
  #Ae{
    color: #9599F8;
    padding-right: 1rem;
  }
  #Maya{
    color: #37A2CA;
    padding-right: 1rem;
  }
  #Fusion{
    color: #FF6B00;
    padding-right: 1rem;
  }
  #Figma{
    color: #2C2D35;
    padding-right: 1rem;
  }
  #coding{
    color: #ffffff;
    padding-right: 1rem;
    -webkit-text-stroke: 1px #000000;
  }
  
  #about{
    position: relative;
    background-color: #ffffff;
    margin: 4rem 0;
  }
  
  
    #about h1{
      font-size: 45pt;
      text-align: center;
    }

    .profile{
      background: url(../svg/about_full.svg);
      width: 100%;
      height: 90vh;
      background-repeat: no-repeat;
      background-position: top;
      margin: 0;
      padding: 0;
    }




/*横幅が768px以下になった際の指定*/
@media only screen and (max-width: 768px) {
  header{
    padding: 1rem;
  }

  #home{
    transform: scale(0.8);
  }

  .nav a{
    font-size: 12pt;
  }

  #works{
    padding: 0 2.5rem;
  }

  #works h1{
    font-size: 42pt;
  }

  .sort-btn{
    font-size: 18pt;
  }
  .sort-btn li{
    padding-bottom: 1em;
  }

  .item {
    width: 49.5%;
  }

  #skill{
    padding: 2rem;
  }
  #skill h1{
    font-size: 42pt;
  }

  .tool{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    font-size: 24pt;
    }
    
    .s1 { grid-area: 1 / 1 / 2 / 2; }
    .s2 { grid-area: 2 / 1 / 3 / 2; }
    .s3 { grid-area: 3 / 1 / 4 / 2; }
    .s4 { grid-area: 4 / 1 / 5 / 2; }
    .s5 { grid-area: 5 / 1 / 6 / 2; }
    .s6 { grid-area: 6 / 1 / 7 / 2; }
    .s7 { grid-area: 7 / 1 / 8 / 2; }

    #about{
      padding: 2rem 0;
    }
    #about h1{
      font-size: 42pt;
    }


}




/*横幅が480px以下になった際の指定*/
@media only screen and (max-width: 480px) {

  .nav{
    display: none;
  }

  #works h1{
    font-size: 38pt;
  }

  .sort-btn{
    justify-content: space-between;
    font-size: 16pt;
  }

  .sort-btn li{
    width:48%;
    margin:0 0 20px 0;
    text-align:center;
  }	

  .item{
    padding: 1rem;
  }

  #skill{
    padding: 1rem;
  }
  #skill h1{
    font-size: 38pt;
  }



  .tool{
    margin: 0 2.5rem;
    left: 0%;
    font-size: 18pt;
  }
  .tool li{
    height: 80px;
  }

  #coding{
    padding-right: 0 ;
  }


  #about{
    padding: 1rem 0;
  }
  #about h1{
    font-size: 38pt;
  }
  .profile{
    background: url(../svg/about_480.svg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0;
    padding: 0;
  }

}





